/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "font-awesome-sprockets";
 @import "font-awesome";

 @font-face {
    font-family: 'Lato', Helvetica;
    src: font_url('Lato-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

 @font-face {
    font-family: 'Montserrat', Helvetica;
    src: font_url('Montserrat-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 100px) and (max-width: 800px) {
  /*.header-search input {
    top: 100px;
    display: absolute;
    left: 50px;
  }*/

  .header-search input {
    width: 100px;
  }

  .show-image {
    display: none;
  }

  #map {
    display: none;
  }

  .header-links {
    display: none;
  }

  .violations {
    width: 300px;
  }
}

html, body {
  height: 100%;
  color: #222;
  // margin: 0 auto;
  // width: 90%;
  // margin-left: auto;
  // margin-right: auto;
  // min-width: 1000px;
  // width: auto!important;
}

html {
  display: table;
  width: 80%;
  margin: 0 auto;
  // padding: 0 150%;
  // margin-right: 0 auto;
  // padding: 0;
}

body {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  // background: #fff;
  // width: 70%;
  // height: auto;
  // // display: block;
  // // background: pink;
  // text-align: center;
  // margin-left: auto;
  // margin-right: auto;
  // background: #f7f7f7;
  font-family: "Helvetica", Helvetica;
}


header {
  top: 0;
  width: 100%;
  /*margin-bottom: 100px;*/
  background: #fff;
  position: fixed;
  // width: 100%;
  z-index: 9999999999;
}

.header-wrapper {
  /*margin-bottom: 50px;*/
  width: 96%;
  padding-top: 5px;
  // /*background: #fff;*/
  height: 60px;
  margin: 0 auto;
  // transition: all 0.3s ease-in-out;
}


.header-search {
  float: left;
  position: relative;
  /*margin-top: -10px;*/
  margin-top: 9px;
  margin-left: 30px;
  /*left: 400px;*/
  background: transparent;
  z-index: 99999;
}

.header-search input {
  /*position: relative;*/
  z-index: 9999;
  height: 14px;
  background: #f7f7f7;
  color: #222;

  border: 1px solid transparent;
  outline-width: 0;

  padding: 8px;
  padding-left: 20px;
  width: 300px;
  font-size: 18px;
  // margin-top: -1px;
  // font-weight: bold;
  box-shadow: 2px 2px 2px 0 #ccc;
  font-family: "Helvetica"!important;
}

.header-search input:focus {
  // background: #fff;
  // box-shadow: 2px 2px 5px 0px #777;
}

.header-links {
  padding: 13px 0;
  float: right;
  // display: inline;
  margin-left: 5%;
  z-index: 999;
}

.body-container {
  min-width: 100%;
  display: block;
  // text-align: center;
  height: auto;
  margin: 0 auto;

}

.header-links a {
  text-decoration: none;
  padding: 10px;

  /*font-weight: bolder;*/
  font-size: 18px;
  color: #222;
  font-family: "Montserrat"!important;
  transition: all 0.05s ease;
}

.header-links a:hover {
  opacity: 1;
}

.container {
  width: 100%;
  height: auto;
  // background: pink;
  margin-left: auto;
  margin-right: auto;
  // text-align: center;
  // min-height: 400px;
  display: flex;
}




/*
.sidebar a:nth-child(2n+1) {
  color: #fff;
}*/

.sidebar a:hover {
  color: #000;
}

.main {
  min-width: 100%;
  // background: green;
  margin-left: auto;
  margin-right: auto;
  // text-align: center;
  position: relative;
  margin-top: 65px;
}

.empty-image {
  width: 400px;
  height: 600px;
  // border-radius: 5%;
  // background: transparent;
  background: #f7f7f7;
}

.map-holder {
  margin-top: 50px;
  height: 800px;
  width: 500px;
  // margin-top: 50%;
  // display: none;
  // display: none;
  position: relative;
  // overflow: hidden;
}

.map-header {
  z-index: 99;
  background: rgba(255, 255, 255, 0.99);
  color: #444;
  display: block;
  width: 100%;
  padding: 20px;
  text-align: center;
  // letter-spacing:1px;
  // opacity: 0.5;
  // font-weight:bold;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "helvetica";
  position: absolute;
  // top: 20px;
  // left: 50px;
}

.show-name {
  /*color: maroon;*/
  font-family: "Lato"!important;
  position: absolute;
  width: 100%;
  background: #fff;
  top: 20px;
}

.mini-chart {
  width: 450px;
  float: right;
  margin-top: 5px;
  overflow: hidden;
  height: 100px;
}

.show-container {
  width: 100%;
  height: 100%;
  min-width: 1000px;
  // margin: 0 auto;
  // margin-left: auto;
  // margin-right: auto;
  display: flex;
  flex-direction: row;

}

.show-holder {

  // margin-top: 120px;
  height: 400px;
  width: 500px;
  // border-radius: 25%;

  // border: 1px solid #000;
  background: transparent;
  margin-top: 2px;
  // margin-left: 50px;
  /*margin-top: -10px;*/
  /*width: 700px;
  height: 700px;*/
  /*width: 500px;*/
  /*background: pink;*/
  // overflow: hidden;
  /*height: auto;*/
  position: relative;
}

.right-holder {
  margin-left: 2%;
  // margin: 0 auo;
}

.show-image {
  height: 350px;
  // height: 450px;
  // opacity: 0.8;
  position: relative;
  border-radius: 5%;
}


.drop-down {
  /*left: -120px;*/
  border-bottom: 2px solid #eee;
  border-left: 2px solid #eee;
  border-right: 2px solid #eee;
  margin-top: 3px;
  display: none;
  position: absolute;
  z-index: 9999;
  background: white;
  width: 330px;
}

.drop-down ul {
  list-style: none;
  margin-left: -20px;
}

.drop-down li {
  opacity: 0.8;
  padding-top: 5px;
  /*border: 1px solid transparent;*/
  /*border-bottom: 1px solid white;*/
}

.drop-down li:hover {
  opacity: 1;
  /*border: 1px solid #eee;*/
}

.drop-down a, a:visited {
  font-weight: bold;
  font-family: "montserrat";
  color: #222;
  text-transform: uppercase;
  text-decoration: none;
}

.show-row {
  // margin: 0;
  padding: 0;
  width: 100%;
  // height: 500px;
  // overflow: hidden;
  // background: salmon;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
  background: transparent;
  display: flex;
  flex-direction: row;
}


.show-grade {
  width: 75px;
  // display: none;
  height: 75px;
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 99;
}

.show-grade img {
  width: 100%;
  border-radius: 0px 0px 5px 0px;
  height: auto;
}

.chart {

  border-radius: 5%;
  color: maroon;
  width: 500px;

  height: 400px;

}



.comparison ul {
  list-style: none;
}

.comparison a {
  border: 0;
  margin: 0!important;
  padding: 0!important;
  box-shadow: 0 0 0 0 #fff!important;
  text-decoration: none;
  color: steelblue!important;

}

.overview {
  font-family: "Helvetica";
  font-size: 16px;
  border: 1px solid #ccc;
  margin-left: 30px;
  /*width: 100%;*/
  min-height: 400px;
  min-width: 500px;
  background: transparent;
  // margin-right: 10px;

  // padding: 5px;

}

hr {
  border: 1px solid #fff;
}

/*hr:last-child {
  margin-bottom: 10px;
}*/

footer a {
  color: steelblue;
  text-decoration: none;
}

footer {
  font-family: "Helvetica";
  // text-transform: uppercase;
  opacity: 0.75;
  width: 95%;
  font-size: 16px;
  margin-top: 20px;
  text-align: right;
  color: #777;
}


.violations {
  // width: 85%;
  color: #222;
  font-size: 16px;

}

.violations a {
  text-decoration: none;
  color: steelblue;
  /*z-index: 9999999;*/
}

.violations ul {
  font-family: "Helvetica";
  list-style: decimal;
  /*list-style: none;*/
}


.legend {
  display: none;
  margin-top: 5px;
  margin-bottom: -30px;
  // padding: 5px;
  color: #222;
  background: #f9f9f9;
  font-weight: normal;

}

.violations h3 {
  font-weight: normal;
  padding: 10px;
  border: 1px solid #eee;
}



.legend > .range {
  text-transform: uppercase;
  color: #222;
  /*font-weight: normal;*/
  font-family: "Helvetica";
  font-size: 16px;
}

.legend > .a {
  text-transform: uppercase;
  color: #0056ac;
  font-family: "Helvetica";
  font-size: 14px;
}

.legend > .b {
  margin-left: 10px;
  font-family: "Helvetica";
  font-size: 14px;
  color: #49ac42;
    text-transform: uppercase;

}

.legend > .c {
  margin-left: 10px;
  color: #fa9828;
    text-transform: uppercase;
    font-family: "Helvetica";
    font-size: 14px;
}

.not-critical {
  font-size: 15px;
}

.critical {
  color: maroon!important;
  font-size: 15px;
}

.store-name-header {
  text-transform: uppercase;
  padding: 20px 20px;
  // background: #444;
  color: #444;
  border-bottom: 0;
  // border: 1px solid #fff;
  // border: 1px solid #eee;
  // text-align: center;
  // background: #444;
  // text-align: left;
  // background: ivory;
  letter-spacing: -2px;
  display: block;
  max-width: 500px;
  // font-weight: bold;
  line-height: 44px;
  font-family: "Arial";
  font-size: 35px;
}

.store-name {
  display: block;
  background: #f7f7f7;
  // text-align: center!important;
  // text-decoration: underline;
  text-transform: uppercase;
  padding: 15px 25px;
  // padding: 10px 10px 10px 10px;
  // background: #444;
  color: #444;
  // letter-spacing: 1px;
  // text-align: center;
  max-width: 500px;
  // border: 1px solid #ccc;
  border-left: 0;
  border-right: 0;
  // background: ivory;
  // letter-spacing: 1px;
  // font-weight: bold;
  font-family: "arial";
  font-size: 18px;
  // border: 1px solid #eee;
}

.comparison-to {
  // display: block;
  text-transform: uppercase;
  color: #222;
  font-family: "Helvetica";
  font-size: 18px;
}


.show-header {
  display: flex;
  flex-direction: row;
}

.comparison {
  font-family: "Helvetica";
  // padding: 10px 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  // background: #f7f7f7;
  /*height: 600px;*/
  font-size: 16px;
  /*box-shadow: 2px 2px 0 0 #f7f7f7;*/
  // padding: 5px;
  position: relative;

}

.comparison-title {
  max-width: 300px;
  // padding: 0;
}


.comparison-chart, .comparison-options {
  padding: 10px 25px;
}



.compare-name input {
    top: 0;

    z-index: 9999;
    height: 15px;
    background: #fff;
    color: #000;

    border: 1px solid #eee;
    outline-width: 0;

    padding: 5px;
    padding-left: 20px;
    width: 250px;
    margin-left: 10px;

    font-size: 20px;

    font-family: "Helvetica";
}

.compare-name input:focus {
  box-shadow: 2px 2px 2px 2px #eee;
}

.fa-times {
  color: red;
  cursor: pointer;
  font-size: 25px;
}

.comparison-results i {
  font-size: 20px;
}

.comparison-results {
  /*font-size: 20px;*/
}

.unannounced {
  display: none;
  width: 400px;
  height: auto;
  /*min-width: 200px;*/
  padding: 10px;
  top: -30px;
  z-index: 99999;
  left: 200px;
  position: absolute;
  border: 2px solid #ccc;
  background: white;
  font-size: 16px;
  opacity: 0.95;
  color: black;
}

#map {
  // border-radius: 5%;
  margin-top: 30px;
  // margin-left: 50px;
  height: 800px;
  width: 500px;
}
/*
#map:hover {
  opacity: 0.95;
}*/



.material-icons {
  color: maroon;
  font-size: 30px;
}

#main-map {
  margin-top: 75px;
  width: 100%!important;
  height: 400px!important;
  /*height: 100%;*/
}


.main-page-holder {
  width: 100%;
  background: #fff;
  /*margin-top: 20px;*/
  /*background: teal;*/
  position: relative;
}

.options {
  position: absolute;
  z-index: 99;
  width: 100%;
  background: #fff;
  left: 0;
  top: -50px;
  // /*margin-bottom: 20px;*/
  // left: 0px;

}

.overview i {

  padding-right: 5px;
  opacity: 0.75;

}


.positive-score {
  color: maroon;
}

.negative-score {
  color: #222;
}

.neutral-score {
  color: #777;
}

.overview-emphasis {
  color: #222;
  /*background: #;*/
}

.show-header-holder {
  display: flex;
  flex-direction: row;
}

.main-map-store {
  padding: 20px;
  display: flex;
  width: 100%;
  flex-direction: row;
  border: 1px solid #f7f7f7;
}

.main-map-store div {
  margin: 5px;
}

.overview a {
  text-decoration: none;
  color: #222;
  padding: 5px;

  /*background: #f7f7f7;*/
  // box-shadow: 2px 2px 0 0 #ccc;

}

.overview-address {
  display: block;
  margin: 0;
  padding: 15px 25px;
  max-width: 480px;
  // background: #fff;
  background: #f7f7f7;
  border: 1px solid #eee;
  // border-bottom: 0;
  // border-bottom: 2px solid #ccc;
  // border: 1px solid #eee;
  border-left: 0;
  border-right: 0;
  // background: brown;
  color: #444;
  // text-transform: uppercase;
  font-size: 15px;
  text-align: left;
  font-family: "arial";
  // border-radius: 0 0 10px 10px;
  // text-align: right;
  // font-family: "lato";
  letter-spacing: 1px;
  // border: 1px solid #f7f7f7;
  // color: white;
  // border: 1px solid #444;
}


.overview-address a {
  color: steelblue;
}


.options input {
  top: 0;

  z-index: 9999;
  height: 15px;
  background: #fff;
  color: #222;
  /*font-weight: bold;*/
  border: 1px solid transparent;
  outline-width: 0;
  margin-top: -30px;
  margin-right: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
  /*margin-left: -120px;*/
  /*font-weight: bold;*/
  padding: 10px;
  padding-left: 20px;
  width: 100px;
  font-size: 20px;
  /*background: #fff;*/
  border: 2px solid #eee;
  /*box-shadow: 2px 2px 2px 0 #f7f7f7;*/
  font-family: "Helvetica";
}
.options input:focus {
  box-shadow: 2px 2px 2px 0 #eee;
}

.show {
  display: flex;
  flex-direction: row;
}

.show-index {
  background: #fff;
  width: 97%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  /*background: #f7f7f7;*/
}

.bar-chart {
  padding: 5px 23px;
  // background: #f7f7f7;
}

hr.break {
  color: #eee!important;
}

.fa-thumbs-o-up {
  // margin-right: 10px;
  color: black;
  // display: none;
  // font-size: 16px;
  opacity: 1;
}

.most-holder {
  width: 97%;
  margin: 0 auto;
  background: #fff;
  // display: flex;
  // flex-direction: row;
}

.worst {
  position: relative;
  display: inline;
  // padding: 5px;
  margin: 0 5px;
  color: steelblue;
  width: 25%;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: 2px solid transparent;
  transition: 0.05s ease-in-out;
}
.worst:hover {
  // background: #f7f7f7;
  color: #222;
  // border: 2px solid steelblue;
}

.overview-holder .fa-minus {
  margin-right: 14px;
  margin-left: -3px;
  // display: none;
  /*font-size: 20px;*/
  display: inline-block;
  color: #777!important;
  opacity: 1;
}

.fa-thumbs-o-down {
  // display: none;
  // margin-right: 10px;
  color: maroon;
  opacity: 0.8;
}


.intro-header {
  background: url("http://www.venetian.com/content/dam/lasvegas/venetian/master/main/home/restaurants/lavo/lavo-restaurant.jpg") no-repeat;
  // background-size: cover;
  width: auto;
  height: 100%;
  padding: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
}

span.big-header {
  display: block;
  font-size: 100px;
  padding: 20px 50px;
  // width: 80%;
  margin: 0 auto;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.1);
  // text-align: right;
  // border: 1px solid white;
  font-family: "Helvetica"!important;
  text-transform: uppercase;
  letter-spacing: -2px;
  color: #fff;
}



.trending-item {

  // padding: 5px;
  font-family: "Helvetica";
  // margin: 5px;
  // color: #222;
  margin-left: 10px;
  margin-right: 15px;
  // text-decoration: underline;
  font-size: 15px;
  opacity: 0.9;
}


.trending {
  // background: #f7f7f7;
  font-size: 20px;
  font-family: "Montserrat"!important;
  color: #222;
  margin-right: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.trend-holder {
  // display: none;
  // padding: 10px;
  // background: #f7f7f7;
  width: 100%;
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.trend-holder a {
  text-decoration: none;
  // text-decoration: underline;
  color: steelblue;
  // color: #333;
}

.trending-item:hover {
  opacity: 1;
  // text-decoration: underline;
}

.question-highlight {
  cursor: pointer;
  // font-style: italic;
  // font-weight: bold;
  position: relative;
  // border-bottom: 1px dotted black;
}

.filter-by {
  margin-top: 5px;
  margin-bottom: 20px;
  /*margin-top: -50px;*/
  font-family: "lato"!important;
  // background: #eee;
  border: 2px solid #eee;
  padding: 5px;
  padding-left: 20px;
  text-transform: uppercase;
}

.filter-by input {

  /*top: 0;*/
  /*z-index: 9999;*/
  height: 14px;
  // background: #f7f7f7;
  color: #222;
  /*font-weight: bold;*/
  border: 1px solid transparent;
  outline-width: 0;
  margin-left: 20px;
  /*margin-left: -120px;*/
  padding: 10px;
  // padding-left: 0;
  // padding-left: 20px;
  width: 100px;
  font-size: 17px;
  /*border: 2px solid #222;*/
  border: 1px solid #ccc;
  // box-shadow: 2px 2px 5px 0 #ccc;
  font-family: "Helvetica"!important;
  transition: 0.05s ease-in-out;
}

.most-drop-down {
  padding-top: 10px;
  display: none;
  position: absolute;
  min-width: 200px;
  // min-height: 300px;
  z-index: 99;
  top: 30px;
  // border: 1px solid #eee;
  border-top: 0;
  left: -1px;
  padding: 5px;
  background: #fff;
}

.filter-by input:focus {
  // border: 1px solid transparent;
  border: 1px solid steelblue;
}

.most-header {
  margin-bottom: 20px;
  display: none;

}

.most-header a {
  cursor: pointer;
font-size: 17px;
margin: 1px;

// font-family: "lato"!important;
text-transform: uppercase;
color: #aaa;


text-decoration: none;
// line-height: 20px;
// background: #f7f7f7;
// padding: 3px 10px 3px 10px;
border: 1px solid #eee;
transition: 50ms ease-in-out;

}

.most-header a:hover {
  color: #777;
  /*border: 1px solid #aaa;*/
}



.filter-links {
  list-style: none;
  font-size: 18px;
  // width: 400px;
  // margin-bottom: 100px;
  min-height: 500px;
}

.filter-by h1 {
  color: #eee;
}

.filter-links li {
  margin-bottom: 2px;
  padding: 2px;

  // border: 1px solid #f7f7f7;
}

.expanded-details-row {
  color: #fff;
  margin-left: 3%;
  // padding-top: 1%;
  // padding-left: 5%;
  // background: #222;
  display: flex;
  flex-direction: row;
}

.address {
  // background: #fff;
  width: 30%;
}

.expanded-details-row div {
  padding: 5px;
}

#mini-map {
  width: 200px;
  height: 100px;
}

.details {
  // margin-top: 5px;
  display: none;

  color: #222;
  // text-align: center;
  font-family: "helvetica";
  // padding-left: 3%;

  font-size: 15px;
}

.fa-hide {
  color: transparent!important;
  // margin-bottom: 5px;
  // display: none;
}

.details i {
  color: #777;
  // margin-top: 10px;
  margin-right: 5px;
  // margin-top: 2px;
}

.fa-phone {
  margin-left: 2px;
}

.details-numbers {
  // background: #f7f7f7;
  text-align: center;
}


span.underline {
  font-size: 18px;
  font-weight: bolder;
  // padding: 2px;
  // border: 1px solid maroon;

  // text-decoration: underline;
  // color: #777;

}

.filter-links a {
  color: steelblue;
  // font-weight: strong;
  text-transform: uppercase;
  // font-family: "lato";
  margin-top: 1px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.4 ease-in-out;
}

.filter-links a:hover {
  // text-decoration: underline;
  color: #333;
}

.searching {
  position: absolute;
  padding: 7px;
  margin-left: 20px;
  color: #777;
  z-index: 999999999;
}

.about {
  // font-size: 30px;
  // color: #222;
}
.about h1 {
  font-size: 40px;
  // text-align: center;
  // font-family: "lato";
  font-family: "helvetica";
  // box-shadow: 5px 5px 1px 2px #ccc;
  padding: 30px 50px;
  // width: 80%;
  font-weight: bolder;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 20px;
  letter-spacing: 10px;
  // opacity: 0.9;
  // text-align: right;
  // border: 1px solid white;
  background: rgba(255, 255, 255, 0.95);
  // font-weight: bolder;
  color: #222;
  // padding: 20px;
  // opacity: 0.5;
  text-transform: uppercase;
  // font-weight: normal;
}

.google-image-holder {
  width: 90px;
  height: 90px;
  // background: steelblue
  // margin-right: 10px;
  font-size: 40px;
  margin-top: 2px;
  // margin-bottom: 14px;
  // box-shadow: 2px 2px 0 0 #f7f7f7;
  // margin-right: 5px;
  // border-radius: 5%;
  overflow: hidden;
}

.wrapper {
  // margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;

  // display: none;
  padding: 10px;

  // background: white;

  border: 1px solid #f7f7f7;
}

.editable {
  display: inline-block;
  width: 30px;
  // max-width: 30px;
  overflow: hidden;
  text-align: center;
  color: steelblue;
  padding: 2px;
  border: 1px dashed #eee;
}



.top-sentence {
  text-transform: uppercase;
  font-family: "helvetica";
  color: #777;
  font-size: 18px;
}

.editable:focus {
  outline: none;
}

.wrapper hr {
  color: #fff;
  opacity: 0;
  margin: 0.5px;
}

.google-image-holder img {
  // border-radius: 5%;

  border: 2px solid #f7f7f7;
  // opacity: 0.9;
  // margin: 0 auto;
  width: 75%;
  // height: auto;
  // min-width: 50px;
  // min-height: 60px;
}

.fa-star {
  margin-top: 5px;
  color: maroon!important;
}

.about h3 {
  font-size: 25px;
  // margin-right: -20px;
  // font-family: "lato";
  font-family: "montserrat";
  text-align: right;
  background: steelblue;
  // opacity: 0.9;
  text-transform: uppercase;
  // padding-left: 20px;
  // letter-spacing: 2px;
  font-weight: normal;
  padding: 10px 50px;
  width: 80%;
  color: white;
}


.about img {
  width: 100%;
  opacity: 0.75;
  height: auto;
}

.logo {
  margin-top: 5px;
  opacity: 0.90;
  // height: 33px;
  // width: auto;
  float: left;
}

.logo:hover {
  opacity: 1;
  // border: 1px solid #f7f7f7;
}

.header-images {
  margin-left: 20%;
  float: left;
  // background: #;
}

.header-images > span {
  position: relative;
  // display: block
}


.header-images img {
  height: 30px;
  opacity: 0.5;
  cursor: pointer;
  width: auto;
  margin: 10px;
}

.header-images img:hover {
  opacity: 1;
}

.most-loading {

  padding: 50px;
}

.most-spin {
  font-size: 100px;
  color: #f7f7f7;

}

.main-map-wrapper {
  background: #fff;
}

.main-map-wrapper i {
  font-size: 100px;
  left: 350px;

  top: 125px;
  // bottom: 0;
  display: none;
  // color: steelblue;
  // margin-left: auto;
  // margin-right: auto;
  position: absolute;
  z-index: 99999999;
}

.fa-border {
  border: 1px solid transparent;
}

.fa-plus {
  cursor: pointer;
  margin-right: 5px;
    padding: 5px 5px 0 5px;
  font-size: 12px;
  color: #ccc;
  // display: none;
  transition: 0.01s ease-in-out;
}

.fa-minus {
  display: none;
  cursor: pointer;
  margin-right: 5px;
  padding: 5px 5px 0 5px;
  font-size: 12px;
  color: #ccc;
  transition: 0.01s ease-in-out;
}

.fa-minus:hover {
  color: #777;
}

.fa-plus:hover {
  color: #777;
}

.mouseover {
  display: none;
  position: absolute;
  background: steelblue;
  // border: 1px solid #eee;
  // border-top: 1px solid #fff;
  // margin-left: -20px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 30px;
  // font-family:;
  margin-top: 5px;
  padding: 5px;
  color: #fff;
  font-family: "montserrat";
  // line-height: 22px;
  font-weight: bold;

}

.most-stack {
  border: 1px solid #f7f7f7;
  margin-left: 15px;
  border-radius: 10%;
  // padding: 5px;
  color: #fff;
  font-size: 10px;
  margin-top: -3px;
  // margin-bottom: 5px;
}

.most-text {
  // margin-top: .3em;
  font-family: "montserrat";
  color: #222;
  font-size: 14px;
  font-weight: bold;
}

.most-index {
  // padding: 1px;
  // background: steelblue;
  // color: white;
  // margin-bottom: 2px;
  // border: 1px solid black;
}

.arrow-up {
  display: none;
  position: absolute;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
  // margin-left: -7px;
  margin-top: -5px;
	border-bottom: 20px solid steelblue;
}

.fa-culinary {
  margin-top: 10px;
}

.comparison-legend ul {
  list-style: none;
}
.comparison-legend ul li {
  display: block;
  // border: 1px solid black;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  // border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
.comparison-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  border: 1px solid #eee;
  height: 100%;
  // border-radius: 5px;
}

.map-holder i {
  font-size: 75px;
  left: 175px;
  color: #eee;
  top: 250px;
  // bottom: 0;
  display: none;
  // color: steelblue;
  // margin-left: auto;
  // margin-right: auto;
  position: absolute;
  z-index: 99999999;
}

.most-drop-down a {
  text-decoration: none;
  display: block;
  margin-bottom: 2px;
  color: steelblue;
  font-size: 16px;
  opacity: 0.9;
}

.most-drop-down a:hover {
  background: #f7f7f7;
}

.parallax-window {
    min-height: 400px;
    min-width: 400px;
    background: transparent;
}

.overview-holder table {
  padding: 15px 30px;
  // box-shadow: 2px 2px 2px 2px #f7f7f7;
  // border: 1px solid steelblue;
  // text-transform: uppercase;
  margin: 0;
  // border-left: 0;
  // margin: 0 auto;
  background: white;
  font-family: "helvetica";
  font-size: 16px;
  font-weight: normal;
  // padding: 0;

}

.overview-holder th {
  // background: #f7f7f7;
  // text-align: center;
  overflow: hidden;
  // letter-spacing: 1px;
  // font-size: 16px;
  padding: 5px 0;
  font-size: 15px;
  // border: 1px solid #eee;
  // border-bottom: 1px solid #f7f7f7;
  // font-style: ;
  font-weight: normal;
  min-width: 75px;
  max-width: 75px;
}

.overview-holder th:first-child {
  border: 0;
  background: #fff;
}

// .over-view th.subject

.overview-holder td.C {
  background: rgba(128, 0, 0, 0.75);
  color: white;
}

// .overview-holder tr.C {
//   background: rgba(128, 0, 0, 0.5)!important;
//   color: #fff;
// }
.overview-holder td.B {
  // border: 1px solid #eee;
  // background: rgba(0, 100, 0, 0.75)!important;
  // color: #fff;
}

#root {
  width: 100%;

  height: auto;
}

//
.overview-holder td.subject {
  padding: 0;
  padding: 0 10px;
  // background: #fff;
  // font-style: italic;
  letter-spacing: 0.2px;
  color: #444;
  font-size: 15px;
  // background: #f7f7f7;
  // background: gold;
  // background: rgba(211, 211, 211, 1);
  // color: #444;
  margin: 0;
  // padding: 1px;
  // border: 1px solid maroon;
  // font-weight: bold;
  // color: maroon;
}


.overview-holder tr {
  // border: 1px solid #222;
}

.overview-holder tr:nth-child(2n+1){
  // border: 1px solid #eee;
  // background: ivory;
  // background: rgba(180, 180, 0, 0.1);
  // color: black;
  padding-right: 20px;
}

// .overview-holder tr:nth-child(2n+1) td:nth-child(0n+3) {
//   background: ivory;
//   color: #222;
//   // padding-right: 20px;
// }

.overview-holder td.A {
  // border: 1px solid #eee;
  background: rgba(70, 130, 180, 0.75);
  color: white;
  text-align: center;
}

.overview-holder td.B {
  background: rgba(0, 100, 0, 0.75);
  color: white;
}


.overview-holder td {
  padding: 0;
  text-align: center;
  margin-top: 5px;
  // padding-left: 10px;
  margin-bottom: 5px;
  // padding-right: 5px;
}

.overview-holder td.score {
  min-width: 75px;
  text-align: center;
}

.overview-holder tr td:first-child {
  background: #fff;
}

.overview-holder td.grade {
  min-width: 75px;
  padding: 0;
  text-align: center;
}

.overview-holder td.subject, th.subject {
  // background: wheat;
  text-align: left;
}

.details > a {
  text-decoration: none;
  text-transform: none;
  // color: #222;
}

.overview-holder td.thumbs > .fa-minus {
  padding: 0;
  display: none;
  // margin-left: -1px;
  margin: 0!important;
}

.overview-holder td.thumbs {
  background: #fff!important;
  font-size: 15px;
  // width: 10px!important;
  margin: 0;
  padding: 0;
  // margin-left: 5px;
  // display: none;
  // color: #fff;
}
