<!DOCTYPE html>
<html>
<head>
  <title>pending</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
<!-- <script src="https://cdnjs.com/libraries/chart.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.0-beta/Chart.js"></script> -->
<link rel="shortcut icon" href="http://d1ujqdpfgkvqfi.cloudfront.net/favicon-generator/htdocs/favicons/2014-12-23/59db53915fd7260b16d5a24d737c70a6.ico" type="image/x-icon" />
<link href='https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display|Muli|Cabin+Sketch|Open+Sans|Lato|Candal' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag  'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74705059-1', 'auto');
  ga('send', 'pageview');
</script>
<%= javascript_include_tag 'application' %>
<!-- <script>
 $('document').ready(function () {
   $.getScript("https://maps.googleapis.com/maps/api/js?key=AIzaSyCeMPHcWvEYRmPBI5XyeBS9vPsAvqxLD7I", function () {
     console.log("loaded successfully");
   });
 });
 </script> -->

 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeMPHcWvEYRmPBI5XyeBS9vPsAvqxLD7I"></script>


</body>

</html>
