<!DOCTYPE html>
<html>
<head>
  <title>pending</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link href='https://fonts.googleapis.com/css?family=Montserrat|Open+Sans+Condensed|Cedarville+Cursive|Cabin+Sketch|Open+Sans|Lato|Candal' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeMPHcWvEYRmPBI5XyeBS9vPsAvqxLD7I"></script>
</body>
</html>
